.breadcrumb {
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    margin-top: 15px;
    padding-left: 15px;
}

.user-profile-section {
    background-color: rgba(128, 128, 128, 0.05);
}

.user-profile-pic {
    width: 100%;
    padding: 25px;
}

.user-profile-pic .profile-img {
    width: 100%;
}

.user-profile-pic .profile-img .img{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
}

.user-profile-pic .profile-img .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile-pic .profile-img .img .camera {
    visibility: hidden;
}

.user-profile-pic .profile-img .img:hover .camera {
    visibility: visible;
    position: absolute;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    padding-top: 42%;
    z-index: 1111111;
}

.user-profile-pic .profile-img h6 {
    padding-top: 10px;
}

.user-profile-btn {
    width: 130px;
    margin-left: 5px;
}

.unsubscribe-btn {
    background-color: #3D90E0 !important;
    border: none !important;
    outline: none !important;
    color: white !important;
}

.upgrade-btn {
    background-color: none !important;
    border: 1px solid #3D90E0 !important;
    outline: none !important;
    color: #3D90E0 !important;
}

.upgrade-btn a {
    text-decoration: none;
}

.user-profile-details {
    margin-top: 40px;
    padding: 25px;
}

.margin-bottom {
    position: relative;
    margin-top: 80px;
}

#change-password-btn {
    background-color: #084571;
    color: white;
}

#membership-status {
    background-color: #3D90E0;
    color: white;
}
.change-password-btn {
    background-color: #3D90E0 !important;
    border: 1px solid #3D90E0 !important;
    border: none !important;
    outline: none !important;
    color: white !important;

}


.upload-profile-pic-row {
    position: absolute;
    visibility: hidden;
} 
