.btn-small-device {
    background: #084571 !important;
    border: none !important;
    outline: none !important;
}

.nav-link-small-dev ul li {
    list-style-type: none;
    padding-top: 10px;
}


.nav-link-small-dev ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.nav-link-small-dev .nav-sign-in .text {
    padding-left: 10px;
}