.footer {
    position: relative;
    width: 100%;
    margin-top: 25vh;
}

footer {
    width: 100%;
    background-color: #3D90E0;
    height: 40px;
    /* position: absolute; */
    bottom: 0;
}

footer p {
    text-align: center;
    padding-top: 10px;
    color: white;
}